button{
  margin-top: 30px;
background: rgb(209, 96, 0);
  background: linear-gradient(74deg, rgba(209, 96, 0, 1) 0%, rgba(251, 153, 80, 1) 100%, rgba(252, 252, 252, 1) 100%);
border-radius: 10px;
color:white;
padding:20px;
font-size: 20px;
border: none;
width: 180%;
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form{
 display:grid;
grid-template-columns: .9fr .9fr;
 margin-left: 8%;
 margin-top: 4%;
 padding: 19px;

}

#enter-text{
  padding: 15px;
width:15rem;
border-radius: 10px;
border-width: .5px;
}

button:hover{color: rgb(33, 32, 32);
}

.meme--image{

  max-width: 60%;
}